version: '3'
services:
  backend:
    container_name: backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: >
      sh -c "python manage.py makemigrations &&
            python manage.py migrate &&
            python init_db.py &&
            gunicorn --bind 0:8000 config.wsgi:application --timeout 120 --workers 4"
    ports:
      - 8000:8000
    volumes:
      - ./backend/:/backend/
      - static_volume:/backend/static/
    networks:
      - app-tier
    depends_on:
      db:
        condition: service_healthy
    expose:
      - 8000

  db:
    image: mysql:8.0
    container_name: fitapet-db
    environment:
      MYSQL_ROOT_PASSWORD: 1234 # 여기에 안전한 비밀번호를 사용하세요.
      MYSQL_DATABASE: fitapet
    ports:
      - "3307:3306"
    volumes:
      - db-data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      retries: 5
      timeout: 5s
    networks:
      - app-tier

#  prometheus:
#    container_name: prometheus
#    image: prom/prometheus
#    ports:
#      - 9090:9090
#    volumes:
#      - ./prometheus:/etc/prometheus
#      - ./prometheus/data:/prometheus
#    command:
#      - '--config.file=/etc/prometheus/prometheus.yml'
#    links:
#      - alertmanager:alertmanager
#    depends_on:
#      - backend
#    networks:
#      - app-tier
#
#  grafana:
#    container_name: grafana
#    image: grafana/grafana
#    ports:
#      - 3000:3000
#    volumes:
#      - ./grafana:/var/lib/grafana
#      - ./datasource.yml:/etc/grafana/provisioning/datasource.yml
#    networks:
#      - app-tier
#    depends_on:
#      - prometheus
#      - backend
      
  nginx:
    container_name: nginx
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "443:443"
    expose:
      - 80
      - 443
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/log:/var/log/nginx
      - ./backend/static/:/backend/static/
    networks:
      - app-tier
    depends_on:
      - backend
    restart: always

#  setup:
#    profiles:
#      - setup
#    build:
#      context: setup/
#      args:
#        ELASTIC_VERSION: ${ELASTIC_VERSION}
#    init: true
#    volumes:
#      - ./setup/entrypoint.sh:/entrypoint.sh:ro,Z
#      - ./setup/lib.sh:/lib.sh:ro,Z
#      - ./setup/roles:/roles:ro,Z
#    environment:
#      ELASTIC_PASSWORD: ${ELASTIC_PASSWORD:-}
#      LOGSTASH_INTERNAL_PASSWORD: ${LOGSTASH_INTERNAL_PASSWORD:-}
#      KIBANA_SYSTEM_PASSWORD: ${KIBANA_SYSTEM_PASSWORD:-}
#      METRICBEAT_INTERNAL_PASSWORD: ${METRICBEAT_INTERNAL_PASSWORD:-}
#      FILEBEAT_INTERNAL_PASSWORD: ${FILEBEAT_INTERNAL_PASSWORD:-}
#      HEARTBEAT_INTERNAL_PASSWORD: ${HEARTBEAT_INTERNAL_PASSWORD:-}
#      MONITORING_INTERNAL_PASSWORD: ${MONITORING_INTERNAL_PASSWORD:-}
#      BEATS_SYSTEM_PASSWORD: ${BEATS_SYSTEM_PASSWORD:-}
#    networks:
#      - elk
#    depends_on:
#      - elasticsearch
#
#  elasticsearch:
#    build:
#      context: docker-elk/elasticsearch/
#      args:
#        ELASTIC_VERSION: ${ELASTIC_VERSION}
#    volumes:
#      - ./docker-elk/elasticsearch/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:ro,Z
#      - elasticsearch:/usr/share/elasticsearch/data:Z
#    ports:
#      - 9200:9200
#      - 9300:9300
#    environment:
#      node.name: elasticsearch
#      ES_JAVA_OPTS: -Xms512m -Xmx512m
#      # Bootstrap password.
#      # Used to initialize the keystore during the initial startup of
#      # Elasticsearch. Ignored on subsequent runs.
#      ELASTIC_PASSWORD: ${ELASTIC_PASSWORD:-}
#      # Use single node discovery in order to disable production mode and avoid bootstrap checks.
#      # see: https://www.elastic.co/guide/en/elasticsearch/reference/current/bootstrap-checks.html
#      discovery.type: single-node
#    networks:
#      - elk
#    restart: unless-stopped
#
#  logstash:
#    build:
#      context: docker-elk/logstash/
#      args:
#        ELASTIC_VERSION: ${ELASTIC_VERSION}
#    volumes:
#      - ./docker-elk/logstash/config/logstash.yml:/usr/share/logstash/config/logstash.yml:ro,Z
#      - ./docker-elk/logstash/pipeline:/usr/share/logstash/pipeline:ro,Z
#    ports:
#      - 5044:5044
#      - 50000:50000/tcp
#      - 50000:50000/udp
#      - 9600:9600
#    environment:
#      LS_JAVA_OPTS: -Xms256m -Xmx256m
#      LOGSTASH_INTERNAL_PASSWORD: ${LOGSTASH_INTERNAL_PASSWORD:-}
#    networks:
#      - elk
#    depends_on:
#      - elasticsearch
#    restart: unless-stopped
#
#  kibana:
#    build:
#      context: docker-elk/kibana/
#      args:
#        ELASTIC_VERSION: ${ELASTIC_VERSION}
#    volumes:
#      - ./docker-elk/kibana/config/kibana.yml:/usr/share/kibana/config/kibana.yml:ro,Z
#    ports:
#      - 5601:5601
#    environment:
#      KIBANA_SYSTEM_PASSWORD: ${KIBANA_SYSTEM_PASSWORD:-}
#    networks:
#      - elk
#    depends_on:
#      - elasticsearch
#    restart: unless-stopped
#
#  filebeat:
#    build:
#      context: ./docker-elk/filebeat
#      args:
#        ELASTIC_VERSION: ${ELASTIC_VERSION}
#    entrypoint: "filebeat -e -strict.perms=false"
#    volumes:
#      - ./docker-elk/filebeat/config/filebeat.yml:/usr/share/filebeat/filebeat.yml
#      - ./nginx/log:/var/log/nginx # nginx log path (require same option on nginx container)
#    depends_on:
#      - nginx
#      - backend
#      - logstash
#      - elasticsearch
#      - kibana
#    links:
#      - logstash
#
#  node-exporter:
#    image: prom/node-exporter
#    container_name: node-exporter
#    volumes:
#      - /proc:/host/proc:ro
#      - /sys:/host/sys:ro
#      - /:/rootfs:ro
#    command:
#      - "--path.procfs=/host/proc"
#      - "--path.sysfs=/host/sys"
#      - --collector.filesystem.ignored-mount-points
#      - "^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)"
#    ports:
#      - 9100:9100
#    expose:
#      - 9100
#    restart: always
#    networks:
#      - app-tier
#
#  alertmanager:
#    image: prom/alertmanager
#    container_name: alert-manager
#    ports:
#      - 9093:9093
#    volumes:
#      - ./alertmanager/:/etc/alertmanager/
#    networks:
#      - app-tier
#    restart: always
#    command:
#      - "--config.file=/etc/alertmanager/config.yml"
#      - "--storage.path=/alertmanager"

  redis:
    image: redis:alpine
    command: redis-server --port 6379
    ports:
      - 6379:6379
    networks:
      - app-tier

networks:
#  elk:
#    driver: bridge
  app-tier:
    driver: bridge

volumes:
#  elasticsearch:
  db-data: {}
  static_volume: {}
