name: Deploy to EC2
on:
  push:
    branches: [ "develop" ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Create env file
      run: |
        touch .env
        echo "${{ secrets.ENV_VARS }}" >> .env

    # - name: Create remote directory
    #  uses: appleboy/ssh-action@v1
    #  with:
    #    host: ${{ secrets.ENV_VARS }}
    #    username: ubuntu
    #    key: ${{ secrets.KEY }}
    #    script: mkdir -p /home/ubuntu/Fit-A-Pet-backend

    - name: Copy source via ssh key
      uses: burnett01/rsync-deployments@4.1
      with:
        switches: -avzr --delete
        remote_path: /home/ubuntu/Fit-A-Pet-backend/backend/
        remote_host: ${{ secrets.HOST }}
        remote_user: ubuntu
        remote_key: ${{ secrets.KEY }}

    - name: Executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ubuntu
        key: ${{ secrets.KEY }}
        script: |
          sh /home/ubuntu/Fit-A-Pet-backend/backend/config/scripts/deploy.sh