name: Django CI

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.11]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r backend/requirements.txt
    - name: Load Environment Variables
      run: |
        pip install python-dotenv
        python -c "import dotenv; dotenv.load_dotenv()"
    - name: Print Environment Variable
      run: echo ${{ secrets.MODIFIED_DOTENV }}
    - name: Run Tests
      run: |
        cd backend
        python manage.py test
        
